<% @meta_title = "#{@repository.full_name} issue charts | #{@host}" %>
<% @meta_description = "Issue and pull request charts for #{@repository.full_name} on #{@host}" %>

<div class="container-sm">
  <h1>
    <%= link_to @host, host_path(@host) %> /
      
    <%= link_to @repository.full_name, @repository.html_url, target: :_blank %> issue charts
  </h1>

  Period: <%= @period %><br/>
  Exclude bots: <%= @exclude_bots %><br/>
  Start date: <%= @start_date %><br/>
  End date: <%= @end_date %><br/>
  Max: <%= @max %><br/>
  
  <%= render_chart 'issues_opened' %>
  <%= render_chart 'issues_closed' %>
  <%= render_chart 'issue_authors' %>
  <%= render_chart 'issue_average_time_to_close', max: nil, ytitle: 'Days' %>

  <%= render_chart 'pull_requests_opened' %>
  <%= render_chart 'pull_requests_closed' %>
  <%= render_chart 'pull_requests_merged' %>
  <%= render_chart 'pull_requests_not_merged' %>
  <%= render_chart 'pull_request_authors' %>
  <%= render_chart 'pull_request_average_time_to_close', max: nil, ytitle: 'Days' %>
  <%= render_chart 'pull_request_average_time_to_merge', max: nil, ytitle: 'Days' %>

</div>