<div class="card mb-3 repository d-flex" id="issue_<%= issue.id %>">
  <div class="card-body pb-1">
    <div class="d-flex">
      
      <div class="flex-grow-1 ms-3 text-break">
        <h5 class='card-title'>
          <%= link_to issue.html_url, target: :_blank do %>
            #<%= issue.number %> - <%= issue.title %>
          <% end %>
        </h5>
      
        <p class="card-subtitle mb-2 text-muted"><i><small>
          <%= issue.pull_request ? 'Pull Request' : 'Issue' %> -
          State: <%= issue.state %> - Opened by <%= issue.user.blank? ? "Unknown" : link_to(issue.user, host_author_path(@host, issue.user)) %> <%= time_ago_in_words(issue.created_at) %> ago
          <% if issue.comments_count > 0 %>
            - <%= pluralize issue.comments_count, 'comment' %>   
          <% end %>
          <br />
          <% if issue.labels.any? %>
          Labels: <%= issue.labels.join(', ') %>
          <% end %>
        </small></i></p>
      </div>
      <div class="flex-shrink-0">
        <%# todo avatar url %>
        <img src="" class="rounded" height='40' width='40' onerror="this.style.display='none'">
      </div>  
    </div>
  </div>
</div>